  @font-face {
    font-family: 'Cimbrian';
    font-style: normal;
    font-weight: normal;
    src:
      local('Cimbrian'),
      url('./fonts/Cimbrian.ttf') format('truetype');
  }

  .HeaderBorder {
    background-color: black;
    height: 20px;
    width: 100%;
  }
  
  .AppHeader {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    padding: 10pt;
    margin: 20pt;
    font-family: 'Cimbrian';
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  input[type="text"] {
    color: black;
  }
  
  /* .App-link {
    color: #61dafb;
  } */
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  