.SectionTabs {
    background-color: white;
    text-align: center;
    position: relative;
    left: 20pt;
    top: 0pt;
    margin-right: 20pt;
    margin-bottom: 10pt;
}
.NPRTab {
    background-color: white;
    color: black;
}
.CNNTab {
    background-color: white;
    color: black;
}
.NBCTab {
    background-color: white;
    color: black;
}
.NYTimesTab {
    background-color: white;
    color: black;
}
.FoxTimesTab {
    background-color: white;
    color: black;
}
.OthersTab {
    background-color: white;
    color: black;
}